# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: ea2a88daf48f2707a1fe39881cbf007ea42528c73efd874b2c99ad787c8fc172c9af25455f95a5150c429df0e58b7bb91771ccbd218c47d2340881349393657a

test:
  secret_key_base: 068e64fc28c644e9c25c5f1c93f12ba1a825d846c816df5cbbc169548934d7768782a9044b8e2cad0632926ac6548735f8ecb923c4cf2204b5de68cb7f881bb7

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
